.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
header .logout{
  width : 70px;
  height: 25px;
  margin: 20px;
  border-radius: 5px;
}

a{
  text-decoration: none;
  cursor: pointer;
}